.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__logo {
  /*border: 2px solid red;*/
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  
}

.header__title{
  width: 730px;
  height: 64px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  
  
  
}

.header__subtitle{
  width: 388px;
  height: 64px;
  margin-left: 64px;
  position: absolute;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

}

.header__link{
  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;

}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top:64px;
  z-index: 1;
}

.description{
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: auto;
  justify-content: space-between;
}

.description__two-columns{
  width: 80%;
  
  display: flex;
  margin: auto;
  
}

.description__two-columns_brief{
  width: 175px;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.description__two-columns_main-text{
  width: 80%;
  min-width: 784px;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 

}

.paragraph{

  margin-bottom: 30px;
  padding:0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.paragraph:last-child { margin-bottom: 0; }

.span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/*.digits{
  min-width: auto;
  border: solid 2px red;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

 .digits__section-title{
  border: 2px blue solid;
  width: 60%;
  text-align: center;
  margin-top: 0px;


}

.digits__section-subtitle{
  border: 2px blue solid;
  width: 60%;
  text-align: center;

}

*/

.digits {
  min-width: auto;



  /* Flexbox настройки для вертикального расположения элементов */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Центрируем элементы горизонтально */
}

.digits__section-title {

  width: 60%;
  text-align: center;
  margin-top: 0; /* Обнуляем верхний отступ */
  margin-bottom: 20px; /* Отступ снизу для промежутка */
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}

.digits__section-subtitle {

  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}


.table{
  width: 1100px;

  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: space-between; /* Автоматическое распределение расстояний между ячейками */
  width: 100%;
  
}
/* Верхний отступ для первой строки таблицы */
.table .row:first-child {
  margin-top: 60px; /* Отступ сверху */
}

.table .row:last-child {
  margin-top: 60px; /* Отступ сверху */
}
.cell{
  width: 250px;


}

.cell_heading{
  margin-top: 0px;
  margin-bottom: 20px;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}

.cell_text{
  margin-bottom: 0px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}

.row .cell:first-child {
  margin-left: 0;
}

.row .cell:last-child {
  margin-right: 0;
}



.feynman{
  margin-top: 100px;

  min-width: auto;
  height: 790px;
  position: relative;
  background-color: #f2f2f2;


}


.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
  text-align: center;
  position: relative;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

}

.feynman__subtitle{
  
  z-index: 3;
  text-align: center;
  position: relative;
  margin: 0 auto;

  margin-top:70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%; /* Устанавливаем на половине высоты секции */
  transform: translateY(-50%); /* Сдвиг для точного центрирования */
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

}

.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;


}

.kaufman {
  height: auto; /* Убираем фиксированную высоту */
  display: flex; /* Включаем Flexbox */
  flex-direction: column; /* Располагаем элементы по вертикали */
  align-items: center; /* Центрируем элементы по горизонтали */
  position: relative; /* Устанавливаем позиционирование для дочерних элементов */
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: -2;
}

.kaufman__triangle {
  width: 877px; /* Ширина треугольника */
  height: 877px; /* Высота треугольника */
  position: absolute; /* Позволяет разместить элемент относительно родителя */
  top: 0; /* Расположение сверху */
  right: -210px; /* Расположение справа */
  z-index: -1;
}

.kaufman__image {
  width: 877px; /* Задаем изображению 100% ширины контейнера */
  height: 877px; /* Автоматическая высота */
}

.table_theme_dark {
  margin-bottom: 90px;
}

.kaufman__main-text {
  width: 60%;
  margin-top: 90px;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color:white;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.kaufman__subtitle {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color:white;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.cell_theme_dark {
  width: 200px;
}

.cell_heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.cell_text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

}

/* Верхний отступ для первой строки таблицы */
.table .row_theme_dark:first-child {
  margin-top: 80px; /* Отступ сверху */
}

.table .row_theme_dark:last-child {
  margin-top: 80px; /* Отступ сверху */
}


/*
.footer{
  border:#2f80ed 2px solid;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.footer__columns{
  border: red 2px solid;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  height: auto;
}

.footer__column_content-copyright{
  width: 50%;
  border: green 1px solid;
  height: 100%;

}

.logo__place_footer{
  width: 228px;
  height: 32px;
}

.footer__author{
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column_content-info{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.footer__column-heading{
  margin-bottom: 20px;
}

.footer__column_content-info,
.footer__column_content-social {
  flex-grow: 1; 
  border: blue 1px solid; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

/* Основные стили для футера */
.footer {
  min-height: 350px; /* Минимальная высота футера */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: flex-start; /* Вертикальное выравнивание элементов */
  
  margin: 0 auto; /* Центрирование */
  padding-top: 60px; /* Отступ сверху */
  box-sizing: border-box;
  background-color: #1f1f1f;
}

/* Стили для колонок */
.footer__columns {
  display: flex;
  justify-content: space-between; /* Распределение колонок с равными отступами */
  width: 90%; /* Ширина футера */
  max-width: 1200px; /* Максимальная ширина, чтобы избежать растяжения */
  margin: 0 auto; /* Центрирование колонок внутри футера */
 
}

/* Левая колонка (логотип и копирайт) */
.footer__column_content-copyright {
  flex: 1; /* Устанавливаем растяжение */
  max-width: 711px; /* Максимальная ширина колонки */
 
  display: flex; /* Используем flexbox для вертикального выравнивания */
  flex-direction: column; /* Вертикальная ориентация */
  justify-content: space-between; /* Распределяем элементы по вертикали */
}

.footer__logo {
  width: 228px;
  height: 32px;
  display: block;

}

.footer__author {
  margin-top: 18px; /* Отступ сверху */
  margin-bottom: 18px; /* Убираем отступ снизу */
  font-size: 18px; /* Размер текста уже установлен в вашем html */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

/* Логотип в футере */
.logo__place_footer {
  display: flex;
  align-items: center; /* Вертикальное центрирование */

}

/* Колонка с информацией о Практикуме */
.footer__column_content-info {
  flex: 1; /* Устанавливаем растяжение */
  max-width: 300px; /* Установите желаемую максимальную ширину для этой колонки */
  margin-right: 40px; /* Отступ справа от центральной колонки */
  margin-top: 0; /* Убираем верхний отступ */

}

.footer__column-heading {
  font-size: 20px;
  margin-top: 0; /* Убираем отступы, чтобы прилипло к верхней части */
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}


.footer__column-links {

  margin: 0; /* Убираем внешние отступы */
  margin-bottom: 16px;
}

.footer__column-links a {
  display: block; /* Ссылки занимают всю ширину */
  margin: 0; /* Убираем отступы между ссылками */
  padding: 0; /* Убираем внутренние отступы */
  font-size: 16px; /* Текущий размер текста, не изменяем */
  text-decoration: none; /* Убираем подчеркивание текста */
  color: white; /* Устанавливаем цвет текста, если нужно */

  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

/* Колонка с социальными сетями */
.footer__column_content-social {
  flex: 1; /* Устанавливаем растяжение */
  max-width: 120px; /* Установите желаемую максимальную ширину для этой колонки */

  margin-top: 0; /* Убираем верхний отступ */
}

.footer__column_content-social h5 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  
}
.name_social{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}



.footer__social-icon {
  display: flex; /* Используем flexbox для выравнивания элементов */
  flex-direction: column; /* Устанавливаем вертикальную ориентацию по умолчанию */
  gap: 10px; /* Вертикальный отступ между элементами */
}

/* Для выравнивания иконок и текста в одну строку */
.footer__social-icon a {
  display: flex; /* Используем flexbox для размещения иконки и текста в одной строке */
  align-items: center; /* Центрируем элементы по вертикали */
  text-decoration: none; /* Убираем подчеркивание текста */
  color: white; /* Устанавливаем цвет текста */
}

/* Для изображения иконки */
.icon {
  margin-right: 8px; /* Отступ между иконкой и текстом */
}
  




/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
