.description__two-columns_main-text{
    width: 80%;
    min-width: 784px;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif; 
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  
  }